.website-container{
  color:white;
  padding:40px;
  display:flex;
  flex-direction:column;
  align-items:center;
  background:#0b0b0f;
  min-height:100vh;
}

.header{
  width:700px;
  margin-bottom:20px;
}

.back{
  color:#9ca3af;
  margin-bottom:15px;
}

.title-section{
  display:flex;
  gap:15px;
  align-items:center;
}

.icon{
  font-size:26px;
  background:#1f0d1a;
  padding:14px;
  border-radius:12px;
}

.subtitle{
  color:#9ca3af;
  margin-top:4px;
}

.form-card{
  width:700px;
  padding:40px;
  border-radius:20px;
  background:linear-gradient(145deg,#0f0f15,#09090d);
  border:1px solid #ff2e88;
  box-shadow:0 0 30px rgba(255,46,136,0.2);
}

label{
  display:block;
  margin-bottom:8px;
  font-size:14px;
  color:#d1d5db;
}

input{
  width:100%;
  padding:14px;
  border-radius:10px;
  border:1px solid #333;
  background:#111118;
  color:white;
  margin-bottom:25px;
}

.check-btn{
  width:100%;
  padding:14px;
  border:none;
  border-radius:12px;
  font-size:16px;
  background:linear-gradient(90deg,#ff2e88,#ff4fb0);
  color:white;
  cursor:pointer;
  transition:0.3s;
}

.check-btn:hover{
  opacity:0.9;
}